<!DOCTYPE html>
<html lang="en" th:replace="public_pages/template :: layout(~{::title}, ~{::section})" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Isle</title></head>
<body>
    <section>
        <div class="container-fluid" >
            <h1 th:text="#{messages.index_header}">There's no way you got here, you little shit.™</h1>
            <p th:utext="#{messages.index_body1}">Please fucking try again or contact us.</p>
            <p th:utext="#{messages.index_body2}">I apologize for my language, I'm just so pissed lmao</p>
            <p th:utext="#{messages.index_body3}">Even if you were to apologize, I wouldn't find it in me to forgive you</p>
            <p></p>
        </div>
    </section>
</body>
</html>