<!DOCTYPE html>
<html lang="en" th:replace="~{public_pages/template :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Manager | Isle</title>
</head>
<body>
<section>
    <div class="d-flex justify-content-between">
                <h1 th:text="#{messages.manager_header}"></h1>

                <button type="button"
                        class="btn btn-custom ms-auto"
                        th:text="#{messages.manager_add_branch}"
                        data-bs-toggle="modal"
                        data-bs-target="branch_add_modal">
                </button>
    </div>
</section>

</body>
</html>