<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, user-scalable=yes">
    <meta name="description" content="HTML file made for the level 1 exercise of the task 1 of the Sprint 5 of the it-academy backend course.">
    <meta name="keywords" content="Fruits, Database">
    <meta name="author" content="Alalin Allalilacias">

    <title>Branch Management Example Web-App</title>
    <link rel="icon" type="image/png" href="/static/images/index_icon.png">

    <link rel="stylesheet" href="/static/libraries/css/bootstrap.min.css">

    <script src="/static/libraries/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Apologies!</strong> There has been an internal server error, contact support.
    </div>

</body>
</html>