<configuration>
<!--    Appenders-->
    <appender name="CUSTOM_MONGO_APPENDER" class="Generic.Logging.Mongo_Appender">
    </appender>

<!--    Root level-->
    <root level="ERROR">
        <appender-ref ref="CUSTOM_MONGO_APPENDER" />
    </root>

    <logger name="org.slf4j" level="OFF" />
</configuration>